body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1f1f2e, #2c2c54);
  color: white;
}

.App {
  text-align: center;
  padding: 20px;
}

/* карточки */
.card {
  background: #2f2f44;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

/* кнопки */
button {
  margin: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: #6c5ce7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
  background: #a29bfe;
}

/* инпут */
input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
}

/* медали */
.medal {
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
  display: inline-block;
}

.bronze {
  background: #cd7f32;
}

.silver {
  background: #c0c0c0;
  color: black;
}

.gold {
  background: gold;
  color: black;
}

/* список лидеров */
.leaderboard li {
  background: #3b3b5c;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}